*
{
    box-sizing: border-box;
}
body
{
    background-color: linen;
   color: black;   
}
.container
{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    border-radius:10px;
 display: grid;
 grid-template-columns: auto auto auto;
column-gap: 10px;
  
}
 
.child
{
   border: 1px solid black;
    color: white;
    background-color: brown;

   
}
.child1
{
    grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end:3

}