body
{
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 100vh;
}
.light
{
    background-color:white;
    color: black;
}
.dark
{
    background-color: black;
    color: white;
}