 /* basic selectors */
  body
   {
    background-image: url('https://media.istockphoto.com/id/516379821/photo/business-man.jpg?s=612x612&w=0&k=20&c=l69gZZ3trWgx_BIbErRUihUoIIHMxaZp3LwqOxb3SNA=') ;
    background-repeat: no-repeat;
    background-size:cover;
  background-position: center; 
  
 }
   h1
   {
    color: black;
    text-align: center;
  
   }
   table,tr{
margin: 50px;
    border-color: red;
    border-style:solid;
    padding: 50px;

   }
   tr
   {
    margin: 20px;
   }
   table{
    border-width: 10px;
   }
   tr{
    border-width: 2px;
   }
    .col
    {
      background-color: beige;
    }
    #th
    {
        background-color: lightcoral;
    }